# Build/test requirements.
cmake>=3.31.6
ninja
filecheck>=1.0.0
lit>=18.1.7
nanobind>=2.9.0
setuptools>=70.2.0
wheel
black
numpy

# For some reason upstream requires this
pybind11

# Used for managing pre-commit flows.
pre-commit
pytest
pytest-xdist

# Type checking
pyright
typing-extensions>=4.1

# Progress bar
tqdm
